@charset "UTF-8";
    .lavender{
        width:200px;
        height:auto;
        margin:0;
        text-align:center;
    }
.orange{
        width:200px;
        height:auto;
        margin:0;
        text-align:center;
    }